* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: sans-serif;
  color: #eee;
  margin: 0;
}

h1 {
  background-image: linear-gradient(
    -50deg,
    rgb(208, 120, 157) 32%,
    rgba(12, 111, 225, 0.77) 100%
  );
  font-size: 27px;
  border-radius: 5rem;
  text-align: center;
  position: absolute;
  width: 50%;
  bottom: 50%;
  left: 50%;
  padding: 0.5rem;
  transform: translate(-50%, -50%);
}

header {
  position: relative;
  height: 35vh;
}

main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #800020 50%, rgb(63, 94, 251) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.left {
  width: 52rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess {
  background-image: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 15%,
    rgba(148, 187, 233, 1) 100%
  );
  border: 4px solid rgba(148, 187, 233, 1);
  border-radius: 45px;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 45rem;
  height: 30rem;
  text-align: center;
  display: block;
  margin-bottom: 4.5rem;
}

.check {
  position: relative;
  border: none;
  bottom: 18.5rem;
  text-align: center;
  background-color: #6d1818;
  color: #000000;
  font-size: 17px;
  font-family: inherit;
  padding: 15px 15px;
  right: 50px;
  border-radius: 10px;
}

.reset {
  position: relative;
  border: none;
  bottom: 23rem;
  text-align: center;
  background-color: #807c7c;
  color: #000000;
  font-size: 17px;
  padding: 10px 10px;
  left: 50px;
  border-radius: 10px;
}

.check:hover {
  background-color: #610b0b;
}

.reset:hover {
  background-color: #524f4e;
}

.correct,
.wrong,
.total,
.percent {
  width: 3rem;
  height: 3rem;
  position: relative;
  bottom: 28rem;
  left: 120px;
  margin: -5px;
  text-align: center;
  border-radius: 7px;
}

.correct {
  color: #006400;
}

.wrong {
  color: #b31b1b;
}

.correctText,
.wrongText,
.totalText,
.percentage {
  position: relative;
  bottom: 26.5rem;
  right: 55px;
}

.correctText {
  font-size: 15px;
  color: #006400;
}

.wrongText {
  font-size: 15px;
  color: #b31b1b;
}

.totalText {
  font-size: 15px;
}

.percentage {
  font-size: 15px;
  color: #0066b2;
}

.percent {
  inline-size: 150px;
  margin: 5px;
  color: #0066b2;
  font-size: 17px;
}
